@{
    ViewBag.Title = "Downloads";
}

<h1>Downloads</h1>

<div class="block center">
    <h3>Right click on any of the links below and click "Save As..." to download</h3>    
    <ul>
        <li><a href="http://www.randotribe.com/Full_DL/RandoTribe_Full_CD.zip">Full CD - All Songs ZIPPED</a></li>
        <li><a href="http://www.randotribe.com/Full_DL/Foxrock.mp3">Foxrock</a></li>
        <li><a href="http://www.randotribe.com/Full_DL/Im_ur_daddy.mp3">I'm Ur Daddy</a></li>
        <li><a href="http://www.randotribe.com/Full_DL/Reality_2day.mp3">Reality 2day</a></li>
        <li><a href="http://www.randotribe.com/Full_DL/dejavooey.mp3">Dejavooey</a></li>
        <li><a href="http://www.randotribe.com/Full_DL/everythings_a_mess.mp3">Everything's A Mess</a></li>
        <li><a href="http://www.randotribe.com/Full_DL/If_i_was_a_god.mp3">If I Was A God</a></li>
    </ul>
</div>
<h2>Thanks for Supporting our Music!</h2>